<header>
  <div class="header-logo">
    <a href="/home/top">SOS</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">User一覧</a>
    </li>
  </ul>
</header>

<div class="main users-index">
  <div class="container">
  	<% @users.each do |user| %>
	    <div class="users-index-item">
	      <%= user.name %>
	      <%= user.email %>
	    </div>
	<%end%>
  </div>
</div>

